.projects-card-wrapper {
    margin: 1rem 0;
    border: 1px #c9c9c9 solid;
    width: 100%;

    padding: 3rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .projects-card-info {
        width: 35%;

        .projects-card-title {
            font-size: 3rem;
            color: #361d32;
        }

        .projects-card-description {
            margin-top: 2rem;
        }

        .projects-card-icons {
            margin-top: 2rem;
            .icon {
                margin-right: 1rem;
            }
        }
    }

    .projects-card-image {
        width: 60%;

        img {
            max-width: 100%;
            height: auto;
        }

        .carousel-button {
            background-color: rgba(0, 0, 0, 0.2);
            border: none;
            color: white;
            position: relative;
            font-size: 3rem;
            font-weight: 700;
            width: 5rem;
            height: 5rem;
            outline: none;
        }

        .prev {
            top: calc(50% - 2.5rem);
            left: 0;
        }

        .next {
            top: calc(-50% + 2.5rem);
            right: calc(-100% + 5rem);
        }
    }

    .projects-card-tag {
        display: inline-block;
        background-color: #f55951;
        color: #ffffff;
        padding: 0.5rem;
        border-radius: 0.5rem;
        margin-top: 1rem;
        margin-right: 1rem;
        font-size: 1.3rem;
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        text-align: right;

        .projects-card-image {
            .prev {
                left: calc(-100% + 5rem);
            }

            .next {
                right: 0;
            }
        }
    }
}
