.projects-wrapper {
    width: 85%;
    margin: 0 auto;

    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.projects-wrapper .projects-content {
    width: inherit;

    // flexbox
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.projects-wrapper .projects-content .projects-cards {
    // margin: 0 auto;

    // // flexbox
    // display: flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: center;
    // align-content: flex-start;
    // align-items: center;

    .card {
        margin: 15px 5px;
    }
}

.projects-wrapper .projects-content .projects-tags {
    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;

    button {
        margin: 0 5px;
    }
}
