.projects-wrapper {
    .projects-description {
        margin-top: 7vh;
        font-size: 3rem;
        font-weight: bold;
    }

    .projects-content {
        // flexbox
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;

        .projects-cards {
            // flexbox
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;

            width: 100%;

            .card {
                margin: 15px 5px;
            }
        }

        .projects-tags {
            // flexbox
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-around;
            align-items: center;

            button {
                margin: 0 5px;
            }
        }
    }
}
