@use 'src/variables' as v;

.app-wrapper {
    // background
    background-color: v.$theme-bg1-color;
    color: rgba(88, 88, 88);

    max-width: 70%;
    margin: 0 auto;
    height: 100vh;
}

a {
    color: v.$theme-font-color;
    &:hover {
        color: v.$theme-font-color;
        text-decoration: none;
        animation: fadeOut ease 1s forwards;
    }
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

hr {
    width: 100%;
    border-color: v.$theme-font-color;
    margin: 25px 0;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.25;
    }
}
