.about-wrapper {
    height: 100vh;

    background-color: #ffbfbf;

    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.about-wrapper .about-content {
    width: 80%;

    // flexbox
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
