.header-wrapper {
    height: 100vh;

    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-wrapper .header-content {
    width: 60%;
    margin: auto auto;

    // flexbox
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.header-wrapper .header-content .header-nav {
    margin-top: 25px;
}

.header-wrapper .header-content .header-icons {
    margin-top: 10px;

    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .icon {
        margin: 0 10px;
    }
}
