.header-wrapper {
    height: 100vh;

    // flexbox
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
}

.header-wrapper .header-content {
    margin: auto auto;

    // flexbox
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}