@use 'src/variables' as v;

.header-wrapper {
    height: 100vh;

    // flexbox
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    .header-content {
        width: 25%;
        height: 100%;
        padding-left: 40px;

        // background
        background-color: rgb(255, 255, 255, 1);

        // flexbox
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;

        h1 {
            color: v.$theme-font-color;
            font-size: 75px;
        }

        h1 .lighter {
            color: rgb(v.$theme-font-color, 0.75);
        }

        .header-nav {
            margin-top: 25px;

            // flexbox
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: flex-start;
            align-items: flex-start;

            .header-links {
                padding: 0px;
            }
        }

        .header-icons {
            margin-top: 10px;

            // flexbox
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;

            .icon {
                margin: 0 10px;
            }
        }
    }

    .header-images {
        width: 75%;
        height: 100%;

        // background
        background-image: url('../../assets/images/header1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
