.navbar-wrapper {
    position: absolute;
    top: 1rem;
    margin: 0 auto;

    // flexbox
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;

    .menu-btn {
        position: relative;
        cursor: pointer;

        // size
        width: 5rem;
        height: 5rem;

        // flexbox
        display: flex;
        justify-content: center;
        align-items: center;

        // animation
        transition: all 0.5s ease-in-out;

        .menu-btn__burger {
            width: 3rem;
            height: 0.4rem;
            background: #585858;
            border-radius: 0.4rem;
            transition: all 0.5s ease-in-out;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 3rem;
                height: 0.4rem;
                background: #585858;
                border-radius: 0.4rem;
                transition: all 0.5s ease-in-out;
            }

            &::before {
                transform: translateY(-1rem);
            }

            &::after {
                transform: translateY(1rem);
            }
        }
    }
}

.menu-btn.open .menu-btn__burger {
    transform: translateX(-50px);
    background: transparent;
}

.menu-btn.open .menu-btn__burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
