@use 'src/variables' as v;

body {
    margin: 0;
    font-family: v.$theme-font-1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: v.$theme-font-1;
}
