.portfolio-card-wrapper {
    width: 250px;
    height: 500px;
}

.portfolio-card-wrapper .portfolio-card-badge {
    position: relative;
    top: -225px;
    left: 130px;
    width: 100px;

    &:hover {
        cursor: pointer;
    }
}
